
/* Cards */
#card3 .face.face1  .icon{
  background-color:rgb(100, 173, 94);
}
#card5 .face.face1 .card-content .icon{
  background-color:#3F51B5;
}

#card4 .face.face1 .card-content .icon{
  background-color:rgb(173, 125, 185);
}

#card2{
  font-size:24px;
}