<form>
    <div class="section noback text-left">
        <div class="content">
            <h2 class="content">Creation d'un site web e-commerce</h2>
            <p class="content">Réalisez directement sur le web une partie
            ou la totalité de votre chiffre d’affaires avec
                un site e-commerce performant et un retour
            sur investissement maitrisé.</p>
            <button class="mainBtn" formaction="/form">Discutez avec un conseiller</button>
        </div>
        <img class="img-text" src="img/fusee.png">
    </div>
    <div class="section back text-right">
        <img class="img-text" src="img/puzzle.png">
        <div class="content">
            <h2 class="content">La création de votre site e-commerce</h2>
            <p class="content">Développés avec Shopify, l’outil pionnier dans la
            construction de site e-commerce, nos sites
            internet de ventes en lignes sont marquetés et
            mesurables. Sécurisés et optimisés pour le
            référencement naturel, le site internet permet de
            vendre sereinement vos produits en ligne.</p>
        </div>
    </div>
    <div class="cards-grid">
        <div class="card">
            <div class="face face1">
                <div class="card-content">
                    <div class="icon number">
                        <img src="img/1.png" alt="Facebook">
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="card-content">
                    <h3>Audit et Stratégie e-commerce</h3>
                    <p>Etude de votre offre, benchmark et analyse marketing permettent l’élaboration d’un cahier des charges détaillé et du plan d’action.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="card-content">
                    <div class="icon number">
                        <img src="img/2.png" alt="Facebook">
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="card-content">
                    <h3>Intégration et Formation</h3>
                    <p>Notre équipe experte en marketing, développement et design, conçoit et développe votre site e-commerce avec les solutions CMS Prestashop ou WooCommerce.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="card-content">
                    <div class="icon number">
                        <img src="img/3.png" alt="Facebook">
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="card-content">
                    <h3>Intégration et Formation</h3>
                    <p>Notre équipe vous accompagne dans l’intégration et la mise-à-jour des produits et vous forme à la gestion de votre site e-commerce.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section back">
        <div class="content">
        <h2 class="content">
            Quels enjeux pour ce site e-commerce?
        </h2>
        <p class="content">La réalisation d'un chiffre d'affaires en ligne ne doit rien au hasard et demande
        d'abord une gestion rigoureuse, dès la phase de création du site e-commerce.
        Notre équipe vous accompagne et vous conseille lors des étapes clés de votre projet.</p>
        <button class="mainBtn" formaction="/form">Démarrer le projet</button>
        </div>
    </div>
    <div class="section noback">
        <div class="content">
            <h2 class="content">Exemple de fonctionnalités</h2>
            <p class="content">Chaque projet est différent. Selon les besoins, nous distillons les compétences nécessaires à la concrétisation des objectifs de votre nouvel outil.</p>
        </div>
    </div>
        
    <div class="cards-grid">
        <div class="card">
            <div class="face face1">
                <div class="card-content">
                    <div class="icon">
                        <h2>Le blog</h2>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="card-content">
                    <p>Il témoigne de l’expertise et améliore le référencement naturel. Un véritable outil commercial encore trop peu utilisé </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="card-content">
                    <div class="icon">
                        <h2>Recommandations produits</h2>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="card-content">
                    <p>Le site web offre de la visibilité à des événements organisés et permet de gérer les inscriptions en ligne.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="card-content">
                    <div class="icon">
                        <h2>Avis clients</h2>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="card-content">
                    <p>Connecté avec le CRM, le site web alimente directement votre base de données avec les formulaires saisis.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="card-content">
                    <div class="icon">
                        <h2>Multilingue</h2>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="card-content">
                    <p>Ajoutez une ou plusieurs langues sur votre site internet. Le passage d’une langue à une autre est fluide pour garantir une navigation optimale à vos visiteurs.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="card-content">
                    <div class="icon">
                        <h2>Développement sur-mesure</h2>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="card-content">
                    <p>Nos ingénieurs développent des fonctionnalités sur-mesures pour apporter de la valeur à votre site web. </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="card-content">
                    <div class="icon">
                        <h2>Call tracking</h2>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="card-content">
                    <p>Combien de demandes par téléphone le site a-t-il généré ? Voilà la réponse à laquelle répond le call tracking !</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section back">
        <div class="content">
            <h2 class="content">Un consultant vous rappelle dans moins de 24h</h2>
            <p class="content">Nous voulons comprendre votre projet, vos objectifs et vos envies pour vous proposer les solutions qui vous apporteront croissance et sérénité.</p>
            <button class="mainBtn" formaction="/form">Nous contacter</button>
        </div>
    </div>
</form>

