
<div class="section noback text-left">
    <div class="content">
        <h2 class="content">Création d'un site web vitrine</h2>
        <p class="content">Notre équipe assure la création d’un site
        internet qui rempli des objectifs chiffrés avec
        un design parfaitement adapté à vos
        visiteurs.</p>
        <button class="mainBtn" formaction="/form">Discutez avec un conseiller</button>
    </div>
    <img class="img-text" src="img/fusee.png">
</div>
<div class="section noback text-right">
    <img class="img-text" src="img/shopify.png">
    <div class="content back">
        <h2 class="content">La création de votre site web</h2>
        <p class="content">Votre site vitrine est un ensemble de fichiers
        statiques (HTML / CSS / JS). Seul le formulaire de
        contact a besoin d'interagir avec un serveur pour
        stocker les demandes en base de données.
        Pour faire ce serveur, nos programmeurs vont
        utiliser NodeJS avec le framework ExpressJS.</p>
    </div>
</div>
<div class="cards-grid">
    <div class="card">
        <div class="face face1">
            <div class="card-content">
                <div class="icon">
                    <h2>Audit & plan d’actions</h2>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="card-content">
                <p>Etude de l’offre, benchmark et
            analyse webmarketing
            permettent l’élaboration d’un
            cahier des charges complet et
            détaillé.</p>
            </div>
        </div>
    </div>  
    <div class="card">
        <div class="face face1">
            <div class="card-content">
                <div class="icon">
                    <h2>Développement web</h2>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="card-content">
                <p>Notre équipe d’ingénierie,
            épaulée par nos spécialistes
            marketing et design,
            conçoivent avec vous votre
            site internet.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="card-content">
                <div class="icon">
                    <h2>Formation & support</h2>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="card-content">
                <p>Notre équipe vous
            accompagne dans l’intégration
            et la mise-à-jour des produits
            et vous forme à la gestion de
            votre site e-commerce.</p>
            </div>
        </div>
    </div>
</div>
<form>
    <div class="section back">
        <div class="content">
            <h2 class="content">
                Quels enjeux pour votre nouveau site web?
            </h2>
            <p class="content">Aujourd'hui c'est un site vitrine, mais demain votre site internet pourrait être
                bien plus que cela ! Nos ingénieurs conçoivent votre site web de façon à ce qu'il
                puisse évoluer par la suite.</p>
            <button class="mainBtn" formaction="/form">Démarrer le projet</button>
        </div>
    </div>
    <div class="section noback">
        <div class="content">
            <h2 class="content">Exemple de fonctionnalités</h2>
            <p class="content">Chaque projet est différent. Selon les besoins, nous distillons les compétences nécessaires à la concrétisation des objectifs de votre nouvel outil.</p>
        </div>
    </div>
    <div class="cards-grid">
        <div class="card">
            <div class="face face1">
                <div class="card-content">
                    <div class="icon">
                        <h2>Le blog</h2>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="card-content">
                    <p>Il témoigne de l’expertise et améliore le référencement naturel. Un véritable outil commercial encore trop peu utilisé </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="card-content">
                    <div class="icon">
                        <h2>Portfolio</h2>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="card-content">
                    <p>Idéal pour présenter des projets ! C’est le moment de valoriser l’expertise en détaillant missions et savoir-faire.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="card-content">
                    <div class="icon"> 
                        <h2>Gestion d’événements</h2>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="card-content">
                    <p>Le site web offre de la visibilité à des événements organisés et permet de gérer les inscriptions en ligne.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="card-content">
                    <div class="icon">
                        <h2>Multilingue</h2>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="card-content">
                    <p>Ajoutez une ou plusieurs langues sur votre site internet. Le passage d’une langue à une autre est fluide pour garantir une navigation optimale à vos visiteurs. </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="card-content">
                    <div class="icon">
                        <h2>Développement surmesure</h2> 
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="card-content">
                    <p>Nos ingénieurs développent des fonctionnalités surmesure pour apporter de la valeur à votre site web. </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="card-content">
                    <div class="icon">
                        <h2>Connexion CRM</h2>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="card-content">
                    <p>Connectés avec le CRM, le site web alimente directement votre base de données avec les formulaires saisis.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section back">
        <div class="content">
            <h2 class="content">Un consultant vous rappelle dans moins de 24h</h2>
            <p class="content">Nous voulons comprendre votre projet, vos objectifs et vos envies pour vous proposer les solutions qui vous apporteront croissance et sérénité.</p>
            <button class="mainBtn" formaction="/form">Nous contacter</button>
        </div>
    </div>
</form>

