<!DOCTYPE html>
<html lang="fr">
 <head>
   <meta charset="utf-8" />
   <title>Novelio - {{{section}}}</title>
   <link rel="stylesheet" type="text/css" href="./css/styleCreation.css" />
 </head>
 <body id="body">
  {{{body}}}
 </body>
</html>