<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="utf-8" />
   <title>Novelyo - {{{section}}}</title>
   <link rel="stylesheet" type="text/css" href="css/global/global.css" />
   <link rel="stylesheet" type="text/css" href="css/page/creation/styleCreation{{{css}}}.css" />
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- NAV-BAR -->
<nav id="nav-bar">
  <ul>
   <li id="nav-logo"><img class="logo" alt="Logo Novelyo" src="/img/logoNovelyo.png"></li>
    <li id="nav-accueil"><a href="">Accueil</a></li>
    <li id="nav-creation"><a href="">Création d'un site internet</a></li>
    <li id="nav-SMM"><a href="">Social Media Marketing</a></li>
    <li id="nav-Apropos"><a href="">A propos de nous</a></li>
    <li id="nav-contact"><a href="">Contact</a></li>
  </ul>
</nav>
<!-- background -->
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<!-- BODY -->
<body id="body">
   {{{body}}}
</body>
<!-- FOOTER -->
<footer>
   <div id="partie1">
      <div class="logo-container">
         <img class="logo" src="/img/LogoNovelyo.png" alt="Novelyo Agence Digitale">
         <p>
            Pourquoi nous choisir ?
         </p>
      </div>
   </div>
   <div id="partie2">
      <li>A propos de nous</li>
      <li>FAQ</li>
      <li>Contact</li>
   </div>
   <div id="partie3">
      <p><span class="caps">ne manquez pas </span></p>
      <p><span class="black">de vous abonner a notre newsletter</span></p>
      <form id="newsletterForm">
         <input id="newsletter" maxlength="25" placeholder="Entrez votre adresse email...">
         <button id="subLabel" for="newsletter">s'abonner</button>
      </form>
   </div>
</footer>
<!-- SCRIPT -->
  <script type="text/javascript" src="/js/global.js"></script>
  <script type="text/javascript" src="/js/card.js"></script>
</html>