{{#section 'script'}}
<script type='application/javascript'></script>
{{/section}}
<div>
    <h2>Creation d'un site web e-commerce</h2>
    <p>Réalisez directement sur le web une partie
ou la totalité de votre chiffre d’affaires avec
un site e-commerce performant et un retour
sur investissement maitrisé.</p>
    <button>Discutez avec un conseiller</button>
    <img src=""></div>
</div>
<div>
    <img src=""></div>
    <h2>La création de votre site e-commerce</h2>
    <p>Développé avec Shopify, l’outil pionnier dans la
construction de site e-commerce, nos sites
internet de ventes en lignes sont marquetés et
mesurables. Sécurisés et optimisés pour le
référencement naturel, le site internet permet de
vendre sereinement vos produits en ligne.</p>
</div>
<div>
    <div>
        <h2>
Audit et Stratégie e-commerce
        </h2>
        <p>
Etude de votre offre,
benchmark et analyse
marketing permettent
l’élaboration d’un cahier des
charges détaillé et du plan
d’action.
        </p>
    </div>
    <div>
        <h2>
            Développement web
        </h2>
        <p>
            Notre équipe experte en
marketing, développement et
design, conçoit et développe
votre site e-commerce avec
les solutions CMS Prestashop
ou WooCommerce.
        </p>
    </div>
    <div>
        <h2>
            Intégration et
Formation
        </h2>
        <p>
            Notre équipe vous
accompagne dans l’intégration
et la mise-à-jour des produits
et vous forme à la gestion de
votre site e-commerce.
        </p>
    </div>
</div>
<div>
    <h2>
        Quels enjeux pour ce site e-commerce?
    </h2>
    <p>
        La réalisation d'un chiffre d'affaires en ligne ne doit rien au hasard et demande
d'abord une gestion rigoureuse, dès la phase de création du site e-commerce.
Notre équipe vous accompagne et vous conseille lors des étapes clés de votre projet.
    </p>
    <button>
        Démarrer le projet
    </button>
</div>
<div>
    <h2>Exemple de fonctionnalités</h2>
    <p>Chaque projet est différent. Selon les besoins, nous distillons les compétences nécessaires à la concrétisation des objectifs de votre nouvel outil.</p>
</div>
<div>
    <div>
        <h2>Le blog</h2>
        <p>Il témoigne de l’expertise et améliore le référencement naturel. Un véritable outil commercial encore trop peu utilisé </p>
    </div>
    <div>
        <h2>Recommandations produits</h2>
        <p>Le site web offre de la visibilité à des événements organisés et permet de gérer les inscriptions en ligne.</p>
    </div>
    <div>
        <h2>Avis clients</h2>
        <p>Connectés avec le CRM, le site web alimente directement votre base de données avec les formulaires saisis.</p>
    </div>
        <div>
            <h2>Multilingue</h2>
        <p>Ajoutez une ou plusieurs langues sur votre site internet. Le passage d’une langue à une autre est fluide pour garantir une navigation optimale à vos visiteurs. </p>
       
    </div>
    <div>
        <h2>Développement surmesure</h2>
        <p>Nos ingénieurs développent des fonctionnalités surmesure pour apporter de la valeur à votre site web. </p>
    </div>
    <div>
        <h2>Call tracking</h2>
        <p>Combien de demande par téléphone le site a-t-il généré ? Voilà la réponse à laquelle répond le call tracking !</p>
    </div>
</div>
<div>
    <h2>Un consultant vous rappelle dans moins de 24h</h2>
    <p>Nous voulons comprendre votre projet, vos objectifs et vos envies pour vous proposer les solutions qui vous apporteront croissance et sérénité.</p>

    <button href="*">Nous contacter</button>
</div>

