<div class="section" id="section1">
    <div class="bloc">
    <h2 class="titre" id="sous-titre1">Creation d'un site web e-commerce</h2>
    <p class="text" id="p1">Réalisez directement sur le web une partie
ou la totalité de votre chiffre d’affaires avec
un site e-commerce performant et un retour
sur investissement maitrisé.</p>
    <button class="btn" id="b1">Discuter avec un conseiller</button>
    </div>
    <img id="img1" src="img/images.jpg">
</div>
<div class="section" id="div2">
    <img id="img2" src="img/images.jpg">
    <div class="bloc">
    <h2 class ="titre" id="sous-titre2">La création de votre site e-commerce</h2>
    <p class="text" id="p2">Développé avec Shopify, l’outil pionnier dans la
construction de site e-commerce, nos sites
internet de ventes en lignes sont marquetés et
mesurables. Sécurisés et optimisés pour le
référencement naturel, le site internet permet de
vendre sereinement vos produits en ligne.</p>
</div>
</div>
<div class="section">
    <div class="case">
        <h2 class="titre-case" id="titre-case1">
Audit et Stratégie e-commerce
        </h2>
        <p class="text-case" id="p-case1">
Etude de votre offre,
benchmark et analyse
marketing permettent
l’élaboration d’un cahier des
charges détaillé et du plan
d’action.
        </p>
    </div>
    <div class="case">
        <h2 class="titre-case" id="titre-case2">
            Développement web
        </h2>
        <p class="text-case" id="p-case2">
            Notre équipe experte en
marketing, développement et
design, conçoit et développe
votre site e-commerce avec
les solutions CMS Prestashop
ou WooCommerce.
        </p>
    </div>
    <div class="case">
        <h2 class="titre-case" id="titre-case3">
            Intégration et
Formation
        </h2>
        <p class="text-case" id="p-case3">
            Notre équipe vous
accompagne dans l’intégration
et la mise-à-jour des produits
et vous forme à la gestion de
votre site e-commerce.
        </p>
    </div>
</div>
<div class="bloc">
    <h2 class="titre" id="titre-enjeu">
        Quels enjeux pour ce site e-commerce?
    </h2>
    <p class="text" id="text-enjeu">
        La réalisation d'un chiffre d'affaires en ligne ne doit rien au hasard et demande
d'abord une gestion rigoureuse, dès la phase de création du site e-commerce.
<br><br>
Notre équipe vous accompagne et vous conseille lors des étapes clés de votre projet.
    </p>
    <button class="btn "id="b2">
        Démarrer le projet
    </button>
</div>
<div class="bloc" id="div4">
    <h2 class="titre" id="sous-titre4">Exemple de fonctionnalités</h2>
    <p class="text" id="p4">Chaque projet est différent. Selon les besoins, nous distillons les compétences nécessaires à la concrétisation des objectifs de votre nouvel outil.</p>
</div>
<div class="grid" id="div-grid2">
    <div class="case">
        <h2 class="titre-case" id="titre-bloc">Le blog</h2>
        <p class="text-case" id="p-bloc4">Il témoigne de l’expertise et améliore le référencement naturel. Un véritable outil commercial encore trop peu utilisé </p>
    </div>
    <div class="case">
        <h2 class="titre-case" id="titre-bloc">Recommandations produits</h2>
        <p class="text-case" id="p-bloc4">Le site web offre de la visibilité à des événements organisés et permet de gérer les inscriptions en ligne.</p>
    </div>
    <div class="case">
        <h2 class="titre-case" id="titre-bloc">Avis clients</h2>
        <p class="text-case" id="p-bloc4">Connectés avec le CRM, le site web alimente directement votre base de données avec les formulaires saisis.</p>
    </div>
        <div class="case">
            <h2 class="titre-case" id="titre-bloc">Multilingue</h2>
        <p class="text-case" id="p-bloc4">Ajoutez une ou plusieurs langues sur votre site internet. Le passage d’une langue à une autre est fluide pour garantir une navigation optimale à vos visiteurs. </p>
    </div>
    <div class="case">
        <h2 class="titre-case" id="titre-bloc">Développement surmesure</h2>
        <p class="text-case" id="p-bloc4">Nos ingénieurs développent des fonctionnalités surmesure pour apporter de la valeur à votre site web. </p>
    </div>
    <div class="case">
        <h2 class="titre-case" id="titre-bloc">Call tracking</h2>
        <p class="text-case" id="p-bloc4">Combien de demande par téléphone le site a-t-il généré ? Voilà la réponse à laquelle répond le call tracking !</p>
    </div>
</div>
<div class="bloc">
    <h2 class ="titre" id="sous-titre5">Un consultant vous rappelle dans moins de 24h</h2>
    <p class="text" id="p5">Nous voulons comprendre votre projet, vos objectifs et vos envies pour vous proposer les solutions qui vous apporteront croissance et sérénité.</p>
    <button class="btn" id="b3" href="">Nous contacter</button>
</div>
