<div class="section noback text-left">
    <div class="content">
            <h2 class="content">Développez vos stratégies web marketing</h2>
            <p class="content">En se concentrant sur ce qui impactera le plus votre croissance, nous concevons des stratégies marketing géniales qui génèrent plus de prospects, plus de ventes et plus de profits pour votre entreprise.</p>
    </div>
        <img class="img-text" src="img/world.png" alt="world.png">
</div>
<!-- Section 2 -->
<div class="content-slider">
    <div class="slider">
        <div class="mask">
            <ul>
                <li class="anim1">
                    <div class="quote">Novelyo à remplir</div>
                </li>
                <li class="anim2">
                    <div class="quote">L’agence webmarketing qui maximise votre visibilité</div>
                </li>
                <li class="anim3">
                    <div class="quote"> phrase3 ---------------- </div>
                </li>
                <li class="anim4">
                    <div class="quote">La clé d’une stratégie webmarketing durable </div>
                </li>
                <li class="anim5">
                    <div class="quote">phrase5*******************</div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="cards-grid">
    <div class="card">
        <div class="face face1">
            <div class="card-content">
                <div class="icon">
                    <img src="img/strategieComplete.png" alt="Strategie Complete" >
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="card-content">
                <h3>Stratégie Complète</h3>
                <p>Optimisation technique, sémantique et popularité en plaçant vos clients au coeur de la stratégie pour obtenir un trafic qualifié.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="card-content">
                <div class="icon">
                    <img src="img/analyseDonnee.png" alt="Analyse de Données" >
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="card-content">
                <h3>Analyse de Données</h3>
                <p>Analyses, mesures, interprétations et mises en place de nouvelles actions pour une amélioration continue et durable. </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="card-content">
                <div class="icon">
                    <img src="img/google.png" alt="Google">
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="card-content">
                <h3>Google Advertising</h3>
                <p>En offrant à vos visiteurs et à Google ce qu’ils attendent, nous améliorons votre positionnement et votre trafic pour vous permettre d’atteindre vos objectifs de croissance. </p>
            </div>
        </div>
    </div>
</div>
<div class="content-slider">
    <div class="slider">
        <div class="mask">
            <ul>
                <li class="anim1">
                    <div class="quote">Novelyo à remplir</div>
                </li>
                <li class="anim2">
                    <div class="quote">Nos expertises en Marketing Digital</div>
                </li>
                <li class="anim3">
                    <div class="quote"> phrase3 ---------------- </div>
                </li>
                <li class="anim4">
                    <div class="quote">Les moyens d’améliorer votre visibilité </div>
                </li>
                <li class="anim5">
                    <div class="quote">phrase5*******************</div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Section 3 -->
<div class="cards-grid">
    <div class="card">
        <div class="face face1">
            <div class="card-content">
                <div class="icon">
                    <img src="img/googleAds.png" alt="Google Advertising">
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="card-content">
                <h3>Google & Youtube Adwords</h3>
                <p>Assurer votre visibiité et augmenter vos revenus grâce à la publicité Adwords.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="card-content">
                <div class="icon">
                    <img src="img/instagram.png" alt="Analyse de Données">
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="card-content">
                <h3>Marketing d'influences</h3>
                <p>Rentabiliser sa boutique en ligne en obtenant plus de trafic qualifié et plus de ventes avec les influenceur.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="card-content">
                <div class="icon">
                    <img src="img/facebook.png" alt="Facebook">
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="card-content">
                <h3>Facebook Advertising</h3>
                <p>Assurer votre visibiité et augmenter vos revenus grâce à la publicité  Facebook.</p>
            </div>
        </div>
    </div>
</div>
<!-- Section 4 -->
<div class="content-slider">
    <div class="slider">
        <div class="mask">
            <ul>
                <li class="anim1">
                    <div class="quote">Novelyo à remplir</div>
                </li>
                <li class="anim2">
                    <div class="quote">Nos expertises en Développement Web</div>
                </li>
                <li class="anim3">
                    <div class="quote"> phrase3 ---------------- </div>
                </li>
                <li class="anim4">
                    <div class="quote">Les moyens d’améliorer votre présente digitale </div>
                </li>
                <li class="anim5">
                    <div class="quote">phrase5*******************</div>
                </li>
            </ul>
        </div>
    </div>
</div>
    <div class="section noback text-left">
        <div class="content">
            <h2 class="content">Création de site web vitrine</h2>
            <p class="content">Notre équipe assure la création d’un site internet qui rempli des objectifs chiffrés avec un design parfaitement adapté à vos visiteurs.</p>
        </div>
        <img class="img-text" src="img/siteWebVitrine.png" alt="">
    </div> 
    <div class="section noback text-left">
        <div class="content">
            <h2 class="content">Création de site web e-commerce</h2>
            <p class="content">Réalisez directement sur le web une partie ou la totalité de votre chiffre d’affairesavec un site e-commerce performant et un retour sur investissement maitrisé.</p>
        </div>
            <img class="img-text" src="img/siteEcom.png" alt="">
    </div>
</div>
<form>
    <!-- Section 5 -->
    <div class="section back">
        <div class="content">
            <h2 class="content">Demandez votre devis</h2>
            <p class="content">Nouveau site web? Besoin de développer votre notoriété ou d'attirer de nouveaux clients via Google, Amazon ou les réseaux sociaux? Contactez-nous sans plus tarder pour discuter ensemble de vos projets digitaux</p>
            <button formaction="/form" class="mainBtn">Nous contacter</button></a>
        </div>
    </div>
</form>