 <div class="section back">
    <div class="content">
        <h2 class="content">Notre histoire</h2>
        <p class="content">
            Avec le contexte actuel, la crise économique, le confinement, le marché de l’e-commerce se porte très bien et 
            bien évidemment les entreprises commerciales traditionnelles sont en difficulté. Et nous avons remarqué que de 
            nombreux commerces physiques voient leurs chiffres d'affaires réduit à zéro car ils ne disposent pas de plateformes 
            web pour continuer leurs activités en cette période délicate. Les petits commerces : restaurants, brasseries, boulangeries,
            librairies et fleuristes sont aujourd’hui fermés ou mènent une activité très réduite. 
            Même avec la réouverture de certains d’entre eux, il devient vital désormais d’orienter leur activité vers le commerce en ligne !
            <span class="enter"></span>
            Notre équipe a appris l'existence d'une association d’entraide, créée dans le quartier de notre IUT lors du 1er confinement,
            qui reprenait ses activités récemment, dans le cadre de « Solidarités Paris », en partenariat avec la Mairie de Paris. 
            Et il s'agissait d’aider les commerçants dans la mise en place de leurs activités. 
            <span class="enter"></span>
            Ainsi on a eu l'idée de créer une agence de marketing digital afin de pouvoir proposer tout un ensemble de services à 
            nos entreprises clientes.
            <span class="enter"></span>
            Pour la réalisation de ce projet, notre équipe est constituée de huit étudiants. Leur passion, leur savoir-faire, 
            leur curiosité et leur goût pour l’innovation sont des qualités qui leur permettent de participer à ce projet.
        </p>
    </div>
</div>
<div class="section noback">
    <div class="content">
        <!-- Section 2 -->
		<h2 class="content">Notre équipe</h2>
        <div class="cards-grid">
            <div class="card">
                <div class="face face1">
                    <div class="card-content">
                        <div class="icon">
                            <img src="img/Nampoina.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="face face2">
                    <div class="card-content">
                        <h3>RAMANANARIVO Nampoina</h3>
                        <p>Chef de Projet & Developpeur CMS</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="card-content">
                        <div class="icon">
                            <img src="img/Amine.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="face face2">
                    <div class="card-content">                    
                <h3>ASSEKKAK Amine</h3>
                <p>Expert Marketing Digital</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="card-content">
                        <div class="icon">
                            <img src="img/Calin.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="face face2">
                    <div class="card-content">
                        <h3>CARDOS Calin</h3>
                        <p>Web Designer</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="card-content">
                        <div class="icon">
                            <img src="img/Christopher.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="face face2">
                    <div class="card-content">
                        <h3>DIOMANDE Christopher</h3>
                        <p>Community Management & Expert Marketing Digital</p>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="face face1">
                    <div class="card-content">
                        <div class="icon">
                            <img src="img/Fahim.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="face face2">
                    <div class="card-content">
                            <h3>GHARSA Fahim</h3>
                        <p>Web Designer & Expert Marketing Digital</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="card-content">
                        <div class="icon">
                            <img src="img/Athisayah.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="face face2">
                    <div class="card-content">
                            <h3>NALLIAH Athisayah</h3>
                            <p>Community Management</p>
                    </div>
                </div>
            </div> 
        </div>
        <div class="cards-grid">
            <div class="card">
                <div class="face face1">
                    <div class="card-content">
                        <div class="icon">
                            <img src="img/Quentin.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="face face2">
                    <div class="card-content">
                            <h3>FRANCOIS Quentin</h3>
                        <p>Expert Marketing Digital & Developpeur Web Full-Stack</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="card-content">
                        <div class="icon">
                            <img src="img/Erwan.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="face face2">
                    <div class="card-content">
                            <h3>ZEMOURI Erwan</h3>
                        <p>Expert Marketing Digital & Developpeur Web Full-Stack</p>
                    </div>
                </div>
            </div>
        </div>
    </div>x
</div>
<div class="section back">
    <div class="content">
        <!-- Section 3 -->
        <h2 class="content">Un consultant vous rappelle dans moins de 24h</h2>
        <p class="content">Nous voulons comprendre votre projet, vos objectifs et vos envies</p>
        <button class="mainBtn" formaction="/form">Nous contacter</button>
    </div>
</div>