/*Contenu de la page*/
body{
   margin: 0;
   padding: 0;
   font-size: 38px;
   font-family: 'Raleway', sans-serif;;
}

/* Chaque "bande" du site*/
.section{
   display: flex;
}

/*Section1*/
#section1{
   background-color: #5E8E3E;
}

/* Un Titre, un texte (+ un boutton)*/
.bloc{
   display: grid;
   align-items: center;
   margin : 5% 0;
}

/*Espace autour des titres et textes*/
.titre, .text, .text-case, .titre-case{
   padding: 0 7%;
}


/* taille des caractères du titre*/
.titre {
   font-size: 48px;
}

/* Case 1, 2 et 3*/
.case{
   background-color: #5E8E3E;
   margin: 2%;
}

/* titre Case 1, 2 et 3*/
.titre-case{
   font-size: 42px;
   text-decoration: underline;
   color: white;
}

/* text Case 1, 2 et 3*/
.text-case{
   font-size: 38px;
   color: white;
}

/*Bouton*/
.btn{
   margin: auto;
   font-size: 34px;
   border-radius: 10%;
   padding: 1%;
   margin: auto;
   cursor: pointer;
   outline: none;
   color: black;
   background-color: #FFDE59;
   font-weight: bold;
}

/*Image*/
img{
   width: fit-content;
   height: auto;
}

#div2{
   display: flex; 
   align-items: center;
}

/*titre + texte centré*/
#text-enjeu, #titre-enjeu,
#sous-titre5, #p5,
#p4, #sous-titre4{
   text-align: center;
}


.grid{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-row-gap: 5%;
   grid-column-gap: 5%;
}
