
.icon.number img{
   width: auto;
   height: 100%;
}
#cards-grid0 .card .face.face2 {font-size: 20px;}

#cards-grid0 .card:hover .face.face1{
   background:radial-gradient(#fbff00, #FF9500);
}

#cards-grid0 .card .face.face1{
   background: #3F51B5;
}

#cards-grid1 .card:hover .face.face1{
   background:radial-gradient(rgb(19, 132, 207),#1d1fbb);
}

#cards-grid1 .card .face.face1{
   background:  rgb(20, 12, 97);
}