#carousel-content0{
    margin: 15% 0;
}
#carousel-content0 ul li{

    font-size: 22px;    
}
#carousel0{
    height: 100%;
}
#carousel0 .mask{
    height: 300px;
    border-radius: 10%;
}
#carousel0 .slider{
    width:50%;

}
.li-accordion{
    text-align:left;
}
.cards-grid .card p{
    font-size:18px;
}
#cards-grid0,#cards-grid2{
    grid-template-columns:repeat(2,1fr);
}
@media only screen and (max-width: 1200px){
    #cards-grid0,#cards-grid2{
        grid-template-columns: 1fr;
    }
}