
footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: linear-gradient(#b46900, #FF9500);
    position: relative;
    bottom:0;
    width:100%;
    padding: 80px 0;
    list-style: none;
    font-size: 16px;
    color: white;
}
span.novelio-text{
    grid-column: span 3;
    text-align: center;
    font-size: 24px;
}
#partie2 li{
    margin: 3% 0;
    text-align: center;
    font-size: 32px;
}

.caps{
    text-transform: uppercase;
}
#partie3{
    display: grid;
    align-items: center;
    justify-items: self-end;
    right:0;
}

.black{
    color: black;
    font-weight: bold;
}
.logo{
    width: auto;
    height: 70%;
}

#subLabel{
    border: none;
    position: relative;
    background: #FF9500;
    padding: 6px;
    z-index: 1;
    left: -100px;
    text-transform: uppercase;
    align-self: center;
    height: 25px;
}

#newsletter{
    width: 50%;
    height: 25px;
    margin: 0 auto;
}


#newsletterForm{
    display: flex;
    width: 100%;
    height: max-content;
}.container {	
	width: fit-content;
   padding-right: 5%;
}

.login_bar {
	width: 300px;
	height: 50px;
	background: white;
	border-radius: 10px;
	top: 50%;
	position: relative;
  z-index: 1;
	overflow: hidden;
}

.login {
    color: black;
	background: transparent;
	position: absolute;
	height: 100%;
	width: 190px;
	padding-left: 10px;
	text-align: left;
	line-height: 50px;
	vertical-align: middle;
	z-index: 10;
	-webkit-transition: transform 0.2s ease-in-out 0s;
	   -moz-transition: transform 0.2s ease-in-out 0s;
	     -o-transition: transform 0.2s ease-in-out 0s;
	        transition: transform 0.2s ease-in-out 0s;
}

.login_active {
	-webkit-transform: translateX(300px);
	   -moz-transform: translateX(300px);
	    -ms-transform: translateX(300px);
	     -o-transform: translateX(300px);
	        transform: translateX(300px);
}

.subscribe_button:hover{
	background-color: #222A33;
	cursor:pointer;
}

.subscribe_button {
	background: #171D23;
	position: absolute;
	top: -50px;
	left: 200px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	height: 150px;
	width: 100px;
	text-align: center;
	line-height: 150px;
	vertical-align: middle;	
	color: white;
	-webkit-transition: transform 0.5s ease 0s;
	   -moz-transition: transform 0.5s ease 0s;
	     -o-transition: transform 0.5s ease 0s;
	        transition: transform 0.5s ease 0s;
}

.subscribe_button_active{
	-webkit-transform: translateY(50px);
	   -moz-transform: translateY(50px);
	    -ms-transform: translateY(50px);
	     -o-transform: translateY(50px);
	        transform: translateY(50px);
}

.subscribing{
	background: #CDD4DC;
	height: 100%;
	width: 300px;
	z-index: 5;
	position: absolute;
	left:-300px;
	display: inline-block;
	-webkit-transition: transform 1s ease 0s ;
	   -moz-transition: transform 1s ease 0s ;
	     -o-transition: transform 1s ease 0s ;
	        transition: transform 1s ease 0s ;
}

.subscribing_active {
	-webkit-transform: translateX(300px);
	   -moz-transform: translateX(300px);
	    -ms-transform: translateX(300px);
	     -o-transform: translateX(300px);
	        transform: translateX(300px);
}

.thanks{
	color:black;
	background: transparent;
	height: 100%;
	width: 300px;
	z-index: 5;
	text-align: left;
	line-height: 50px;
	vertical-align: middle;
	padding-left: 10px;
	position: absolute;
	top:50px;
	display: inline-block;
	-webkit-transition: transform 0.5s ease 0s ;
	   -moz-transition: transform 0.5s ease 0s ;
	     -o-transition: transform 0.5s ease 0s ;
	        transition: transform 0.5s ease 0s ;
}

.thanks_active {
	-webkit-transform: translateY(-50px);
	   -moz-transform: translateY(-50px);
	    -ms-transform: translateY(-50px);
	     -o-transform: translateY(-50px);
	        transform: translateY(-50px);
}
@media only screen and (max-width: 900px) {
    footer{
        grid-template-columns: repeat(2, 1fr);
    }
    
span.novelio-text{
    grid-column: span 2;
}
    #partie1, .logo{
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    footer, #partie3 {
        display: flex;
        flex-direction: column;
    }
}