<!-- Section 1 -->
<form>
    <div class="section back text-left">
        <div class="content">
            <h2 class="content">Email Marketing</h2>
            <p class="content">L’emailing est une technique de marketing direct multifonction et
                automatique. Il est efficace pour augmenter votre notoriété,
                transmettre des contenus de qualité ou encore réaliser la promotion
                d’un lancement produit.</p>
            <button class="mainBtn" formaction="/form">Nous contacter</button>
        </div>
                <img class="img-text" src="img/Emailing.png">
    </div>
        <!-- Section 2 -->
        <div class="section noback">
                <div class="content">
            <h2 class="content">Il existe trois types d’emails :</h2>
        </div>
        <div class="cards-grid">
        <div class="card">
            <div class="face face1">
                <div class="card-content">
                    <div class="icon">
                        <h2>L’email marketing</h2>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="card-content">
                    <p>Il est utilisé pour recruter de nouveaux clients. Il peut également servir à fidéliser des clients déja existants en envoyant par exemple des newsletters pour tenir informé</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="card-content">
                    <div class="icon">
                    <h2>L’email d’évaluation</h2>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="card-content">
                    <p>Il est utilisé pour recruter de nouveaux clients. Il peut également servir à fidéliser des clients déjà existants en envoyant par exemple des
                newsletters pour tenir
                informé des nouveautés ou
                des offres promotionnelles
                pour inciter à l’achat.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="card-content">
                    <div class="icon">
                        <h2> L’email de notification ou d’événement</h2>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="card-content">
                    
                    <p>Il s'agit d'un mail plus ponctuel 
                qui va être envoyé, par exemple, 
                à la suite d'un premier achat.</p>
                </div>
            </div>
        </div>
    </div>
    </div>      <!-- Section 3 -->
    <div class="section noback">
        <div class="content">
            <h2 class="content">Ce que nous faisons</h2>
    <div class="accordion js-accordion">
    <div class="accordion__item js-accordion-item">
        <div class="accordion-header js-accordion-header">Création de Newsletters</div> 
        <div class="accordion-body js-accordion-body">
            <div class="accordion-body__contents ">
                <p class="text">Nous concevons pour vous des newsletters
                    responsives et adaptées aux contenus que vous
                    prévoyez de diffuser. La création et l’envoi de
                    campagne d’emailing se fera facilement.
                </p>
            </div>
        </div> <!-- end of accordion body -->
    </div><!-- end of accordion item -->
    <div class="accordion__item js-accordion-item ">
        <div class="accordion-header js-accordion-header">Des ciblages avancés pour aller chercher toutes les audiences</div> 
        <div class="accordion-body js-accordion-body">
            <div class="accordion-body__contents ">
                <p class="text">A l’aide de MailChimp nous pouvons suivre
                    les performances de vos campagnes d’email
                    marketing assez facilement.
                </p>
            </div>
        </div><!-- end of accordion body -->
    </div><!-- end of accordion item -->
    <div class="accordion__item js-accordion-item">
        <div class="accordion-header js-accordion-header">Gerer les abonnés</div> 
        <div class="accordion-body js-accordion-body">
            <div class="accordion-body__contents ">
                <p class="text"> Le secret d un marketing efficace réside dans
                    la mise à jour constante de son audience.
                    Ainsi nous pouvons personnaliser et diviser
                    vos abonnés, selon vos besoins.
                </p>
            </div>
        </div><!-- end of accordion body -->
    </div><!-- end of accordion item -->
    <div class="accordion__item js-accordion-item">
        <div class="accordion-header js-accordion-header">A/B test</div> 
    <div class="accordion-body js-accordion-body">
        <div class="accordion-body__contents ">
                <p class="text">Les campagnes de test A/B testent différentes
                    versions d’un seul email pour voir comment
                    de petits changements peuvent avoir un
                    impact sur vos résultats.
                </p>
            </div>
        </div><!-- end of accordion body -->
    </div><!-- end of accordion item -->
    <div class="accordion__item__noarrow  js-accordion-item">
        <div class="accordion-header js-accordion-header">Et bien plus encore...</div> 
    </div><!-- end of accordion item -->
</div><!-- end of accordion -->    
    </div>  
    </div>
<!-- Section 4 -->
    <div class="section back">
        <div class="content">
            <h2 class="content">Un consultant vous rappelle dans moins de 24h</h2>
            <p class="content">Nous voulons comprendre votre projet, vos objectifs et vos envies
            pour vous proposer les solutions qui vous apporteront croissance
            et sérénité.</p>
            <button class="mainBtn" formaction="/form" type="button">Nous contacter</button>
        </div>
    </div>
</form>