<!-- Section 1 -->
<div class="section back text-left">
    <div class="content">
         <h2 class="content">FACEBOOK ADS</h2>
        <p class="content">Comment s'effectue le marketing grâce aux Facebook Ads ?</p>
    </div>
      <img  class="img-text" src="img/fbAds.png" alt="Logo de facebook">
</div>
<!-- Section 2 -->
<div class="section noback ">
    <div class="content text-half">
        <h2 class="content">Quelles sont les étapes de réalisation ?</h2>
        <p class="content">Elle se décompose en 7 étapes :</p>
        <div class="accordion js-accordion">
            <div class="accordion__item js-accordion-item">
                <div class="accordion-header js-accordion-header">
                    Etape 1
                </div> 
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                        <p>Choisir un objectif publicitaire, ce que l’on souhaite obtenir grâce à la pub</p>
                    </div>
                </div> <!-- end of accordion body -->
            </div><!-- end of accordion item -->
            <div class="accordion__item js-accordion-item">
                <div class="accordion-header js-accordion-header">
                    Etape 2
                </div> 
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                        <p class="text">Sélectionner une audience précise</p>
                    </div>
                </div><!-- end of accordion body -->
            </div><!-- end of accordion item -->
            <div class="accordion__item js-accordion-item">
                <div class="accordion-header js-accordion-header">
                    Etape 3
                </div> 
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                        <p class="text">Décider où diffuser la publicité</p>
                    </div>
                </div><!-- end of accordion body -->
            </div><!-- end of accordion item -->
            <div class="accordion__item js-accordion-item">
                <div class="accordion-header js-accordion-header">
                    Etape 4
                </div> 
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                        <p class="text">Etablir un budget publicitaire</p>
                    </div>
                </div><!-- end of accordion body -->
            </div><!-- end of accordion item -->
            <div class="accordion__item js-accordion-item">
                <div class="accordion-header js-accordion-header">
                    Etape 5
                </div> 
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                        <p class="text">Choisir le type de campagne publicitaire</p>
                    </div>
                </div><!-- end of accordion body -->
            </div><!-- end of accordion item -->
            <div class="accordion__item js-accordion-item">
                <div class="accordion-header js-accordion-header">
                    Etape 6
                </div> 
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                        <p class="text">Soumettre la publicité</p>
                    </div>
                </div><!-- end of accordion body -->
            </div><!-- end of accordion item -->
            <div class="accordion__item js-accordion-item">
                <div class="accordion-header js-accordion-header">
                    Etape 7
                </div> 
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                        <p class="text">Évaluer et gérer la publicité</p>
                    </div>
                </div><!-- end of accordion body -->
            </div><!-- end of accordion item -->
        </div><!-- end of accordion -->  
    </div>
</div>
<!--Section3-->
<div class="section noback">
    <div class="content">
        <h2 class="content">Comment fonctionnent les publicités sur FACEBOOK ?</h2>
        <p class="content">Une publicité Facebook
            fonctionne selon un système
            d'enchères influencé par 5
            facteurs</p>
    </div>
    <div class="content-slider">
        <div class="slider">
            <div class="mask">
                <ul>
                    <li class="anim1">
                        <div class="quote">
                            <p>Le type d'enchères</p> 
                        </div>
                    </li>
                    <li class="anim2">
                        <div class="quote"> <p>Le budget</p></div>
                    </li>
                    <li class="anim3">
                        <div class="quote"><p>Le ciblage </p></div>
                    </li>
                    <li class="anim4">
                        <div class="quote"><p>  La qualité de l’annonce</p></div>
                    </li>
                    <li class="anim5">
                        <div class="quote"><p>  La qualité du placement</p></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
        <!-- Section 4 -->
<div class="section noback">
    <div class="content ">
        <h2 class="content">
            Comment fonctionne le gestionnaire de publicité Facebook ? 
        </h2>
        <p class="content">Il existe deux types de facturation des publicités :
            le CPC (coût par clic) ou le CPM (coût pour mille,
            impression).
        </p>
        <img class="img-text"src="img/CpcVsCpm.png" alt="CPC vs CPM">
        <p class="content">Dans le premier cas, vous payez
            chaque fois qu’un internaute clique
            sur votre annonce : c’est du
            paiement à la performance. Dans le
            second cas, vous payez quand votre
            publicité a été affichée mille fois :
            c’est du paiement à l’affichage. Le
            premier est moins cher que le
            second. Si votre but est de
            maximiser le taux de clics, le CPM
            est cependant plus pertinent. Le
            gestionnaire nous aide également à
            bien cibler nos clients potentiels et
            suivre l’évolution de nos publicités.
            Afin d’ajouter de la valeur à
            ses utilisateurs, Facebook a mis en
            place un “score de pertinence”
            semblable à l’AdRank qu’on peut
            trouver dans les AdWords, et qui
            influe sur la façon dont Facebook
            va traiter vos annonces en termes
            de visibilité.
        </p>
    </div>
</div>
   <!-- Section 5 -->
<div class="section back text-left">
     <h2 class="content span">Un pixel Facebook : de quoi s'agit-il ?</h2>
    <div class="content">
        <p class="content">Prenons le cas d’une personne qui a cherché un speaker de la marque
            Bose sur Amazon.fr.<br/>
            Cette personne a vu le produit mais ne l’a pas acheté. Ensuite,
            cette même personne part sur Facebook et voit le même
            produit dans son fil d’actualité. Dingue non? Cette méthode
            s’appelle le Retargeting (ou reciblage) et est permise par
            l’installation et l’utilisation d’un pixel Facebook.
            Un pixel Facebook est donc un petit bout de code grâce auquel
            Amazon peut vous remontrer sur Facebook (et Instagram) 
            les produits que vous avez vu sur le site, mais que
            vous n’avez pas acheté. Dans ce cas de figure Amazon essaye
            de te dire : Hey toi là, tu n’as pas encore acheté le produit.
            Reviens sur le site et finis ton achat !
        </p>    
    </div>
    <img class="img-text" src="img/PixelFb.png" alt="Facebook Pixel">
</div>
<!-- Section 6 -->
<div class="section noback "> 
    <div class="content">
        <h2 class="content">Quelles sont les différents types de campagnes ?</h2>
    </div>
</div>
<div class="cards-grid">
    <div class="card">
        <div class="face face1">
            <div class="card-content">
                <div class="icon">
                    <h2>Publicité par image</h2>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="card-content">
                <p>moyen simple et efficace pour promouvoir sur Facebook.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="card-content">
                <div class="icon">
                    <h2> Publicité vidéo </h2>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="card-content">
                <p> diffusées dans le
        fil d’actualité, les Stories sous
        forme de publicité vidéo in-
        stream. On peut présenter notre
        produit en vidéo ou insérer des
        GIF ou d'autres animations pour
        captiver l’utilisateur.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="card-content">
                <div class="icon">
                    <h2> Publicité sondage  </h2>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="card-content">
                <p> propose une
        expérience interactive aux
        utilisateurs. Plus efficace qu’une
        publicité vidéo classique (5/9
        entreprises auraient eu une
        augmentation de notoriété en 2019
        selon Facebook).</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="card-content">
                <div class="icon">
                    <h2> Publicité carrousel </h2>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="card-content">
                <p> Possibilité d’inclure jusqu’à 10 photos ou
        vidéos. Recommandée pour
        présenter les différentes facettes,
        avantages de notre produit afin
        de créer une grande image
        panoramique.</p>
            </div>
        </div>
    </div><div class="card">
        <div class="face face1">
            <div class="card-content">
                <div class="icon">
                    <h2>Publicité diaporama  </h2>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="card-content">
                <p> Créer des courtes publicités vidéos grâce à des
        photos, du texte ou des clips vidéos.
        Attire beaucoup de vues et nécessite
        une bande passante 5x moins
        importante. Chargement optimal
        permettant même à une connexion
        Internet de mauvaise qualité de
        pouvoir la visionner sans problème.</p>
            </div>
        </div>
    </div><div class="card">
        <div class="face face1">
            <div class="card-content">
                <div class="icon">
                    <h2> Publicité de collection   </h2>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="card-content">
                <p> Dédié aux appareils mobiles, ce type de
        publicité présente 5 produits que
        les clients peuvent cliquer dessus
        afin de les acheter directement.
        Associé aux publicités Instant
        Experience afin d’acheter sans
        quitter l’application.</p>
            </div>
        </div>
    </div><div class="card">
        <div class="face face1">
            <div class="card-content">
                <div class="icon">
                    <h2> Publicité Instant Experience  </h2>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="card-content">
                <p> Format publicitaire chargeant
        15x plus rapidement qu’un site
        Web mobile hors de Facebook.
        On peut y ajouter des liens
        vers d’autres Instant
        Experiences</p>
            </div>
        </div>
    </div><div class="card">
        <div class="face face1">
            <div class="card-content">
                <div class="icon">
                    <h2> Publicité à formulaire  </h2>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="card-content">
                <p> Sur appareils mobiles afin que les utilisateurs puissent
        donner leurs informations de contact plus
        facilement. On leur permettra de
        s’abonner à notre newsletter, d’avoir un
        essai gratuit à notre produit ou de nous
        poser des questions. (ex : la compagnie
        Tokyo Marine a pu générer 11 000 leads
        en seulement 17 jours grâce ce type de
        publicité.)</p>
            </div>
        </div>
    </div><div class="card">
        <div class="face face1">
            <div class="card-content">
                <div class="icon">
                    <h2> Publicité dynamique  </h2>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="card-content">
                <p> Utile pour la promotion d'un produit à des clients
        ciblés. Par exemple, si un client a
        visualisé un produit sur notre site
        Web et qu’il n’a pas finalisé l’achat,
        ce type de publicité apparaîtra sur
        son fil d’actualité Facebook afin qu’il
        finalise l’achat.</p>
            </div>
        </div>
    </div><div class="card">
        <div class="face face1">
            <div class="card-content">
                <div class="icon">
                    <h2> Publicité Messenger   </h2>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="card-content">
                <p> Publicité
        sur le service de messagerie
        Messenger (appartenant à
        Facebook). Pouvant atteindre la
        totalité des utilisateurs de
        Messenger par mois, soit 1,3
        milliard de personnes.</p>
            </div>
        </div>
    </div><div class="card">
        <div class="face face1">
            <div class="card-content">
                <div class="icon">
                    <h2> Publicité Stories   </h2>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="card-content">
                <p> Selon le magazine
        Scientific American, 72% de la génération Y
        ne tournent pas leur téléphone pour regarder
        des vidéos en plein écran. Ce pourquoi les
        publicités Stories peuvent être utiles
        puisqu’elles maximisent l’espace de l’écran
        sans devoir faire de rotation l’écran. Publicité
        très efficace selon une enquête Ipsos (+ de
        50% d’utilisateurs auraient acheter en ligne
        grâce aux pubs Stories).</p>
            </div>
        </div>
    </div><div class="card">
        <div class="face face1">
            <div class="card-content">
                <div class="icon">
                    <h2> Publicité Stories en réalité
        augmentée  </h2>
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="card-content">
                <p> Pubs Stories avec
        des fonctionnalités incluses
        telles que des filtres ou des
        animations. Permettent même
        parfois d’essayer un produit.</p>
            </div>
        </div>
    </div>
</div>
        <!-- Section 7 -->
    <div class="section">
         <div class="content-slider">
        <div class="slider">
            <div class="mask">
                <ul>
                    <li class="anim1">
                        <div class="quote">
                             <h2>Comment trouver les audiences parfaites pour notre produit ?</h2>
                        </div>
                    </li>
                    <li class="anim2">
                        <div class="quote"> <p>Le ciblage est la faculté d’identifier un groupe cible (une audience) que vous aimeriez
                            toucher avec vos publicités Facebook selon des critères bien précis comme les critères
                            sociodémographiques, les centres d'intérêts, les pages Facebook et le comportement (ex:
                            acheteur actif, acheteur compulsif)Il est donc primordial de bien connaître son client
                            cible. Il faut bien définir son client idéal, autrement dit son avatar client. C’est quoi un
                            avatar client ? “Un avatar est un portrait détaillé d’une personne imaginaire mais qui
                            se rapproche fortement de la réalité. L’avatar client est un terme qui désigne tout
                            simplement votre client idéal, c’est-à-dire votre public cible.</p>
                        </div>
                    </li>
                    <li class="anim3">
                        <div class="quote"> <p>Le client idéal n’est autre
                            que le client pour lequel votre offre apporte le plus de valeur et qui permet également à
                            votre entreprise de recevoir beaucoup de valeur en échange. C’est donc le client que
                            vous pouvez aider au mieux et qui reconnaît la valeur de votre offre en acceptant de
                            payer le tarif que vous imposez sans négocier.”</p></div>
                    </li>
                    <li class="anim4">
                        <div class="quote"> <h2>C’est quoi un avatar client ?</h2></div>
                    </li>
                    <li class="anim5">
                        <div class="quote"><p>“Un avatar est un portrait détaillé d’une personne imaginaire mais qui se
                            rapproche fortement de la réalité. L’avatar client est un terme qui désigne
                            tout simplement votre client idéal, c’est-à-dire votre public cible. Le client
                            idéal n’est autre que le client pour lequel votre offre apporte le plus de
                            valeur et qui permet également à votre entreprise de recevoir beaucoup de
                            valeur en échange. C’est donc le client que vous pouvez aider au mieux et
                            qui reconnaît la valeur de votre offre en acceptant de payer le tarif que
                            vous imposez sans négocier.”</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
        <!-- Section 8 -->
<form>
    <div class="section back">
        <div class="content">
            <h2 class="content">Un consultant vous rappelle dans moins de 24h</h2>
            <p class="content">Nous voulons comprendre votre projet, vos objectifs et vos envies
                pour vous proposer les solutions qui vous apporteront croissance
                et sérénité.</p>
            <button class="mainBtn" formaction="/form" >Nous contacter</button></a>
        </div>
    </div>
</form>