<div class="section">
    <div class="content">
        <h2>GOOGLE & YOUTUBE ADS</h2>
        <p>Comment s'effectue le marketing grâce aux Google & YouTube Ads ?</p>
        </div>
            <img class="img-text" src="img/images.jpg">
</div>
<div class="section">
    <div class="content">
        <h2>Comment fonctionnent les publicités sur Google ?</h2>
        <p>Lorsqu’on veut créer une annonce google, 3 types d’offres sont possibles :</p>
    </div>
</div>
<div class="content-slider">
    <div class="slider">
        <div class="mask">
            <ul>
                <li class="anim1">
                    <div class="quote">
                        <p>1) Appels téléphoniques afin d'inciter les utilisateurs à vous appeler
                    pour prendre rendez-vous, demander une intervention ou conclure une vente</p>
                    </div>
                </li>
                <li class="anim2">
                    <div class="quote"> <p>2) Visites en magasin si vous êtes le propriétaire d'un établissement
                    physique dont l'activité repose sur le trafic en magasin.</p></div>
                </li>
                <li class="anim3">
                    <div class="quote"><p>3) Visites sur le site Web si vous souhaitez que les utilisateurs
                    effectuent des achats sur votre site, réservent ou s'inscrivent. </p></div>
                </li>
                <li class="anim4">
                    <div class="quote"><p>4) S’ajoute aussi, un indice de zone de diffusion que l’annonceur définit
            grâce à un rayon. Il détermine à qui doit être proposé l’annonce. Google
            propose ensuite plusieurs formats pour la bannière à afficher sur le web.
            C’est l’annonceur qui choisit ce qu’il veut afficher (un texte ou un texte et
            une image).</p> </div>
                </li>
                <li class="anim5">
                    <div class="quote"><p>5) Dernière étape de la création, le choix du budget alloué par mois, en
            fonction de celui ci Google nous propose une estimation des clics qu’on
            peut espérer. On paye ensuite google à chaque clics réalisé sur notre
            annonce. Merci Google. </p></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!---card potentielle--->
        <h2>VOICI CE QUE VOUS
            DEVRIEZ SAVOIR :</h2>
        <p>
            Une fois la création faite, l’annonce est
            ajoutée dans l’algorithme de Google ads.
            Chaque annonce est hiérarchisée avec
            un score (en relation avec le site web
            destinataire), plus ce score est élevé
            plus l’annonce à de chance d’avoir une
            place privilégiée.<br/>
            Le score est calculé ainsi
            Classement de l’annonce (AdRank) =
            CPC maximal x Niveau de qualité avec :
            <ul>
                <li><p>
                    CPC Maximal = Le prix maximal
                    que l’annonceur paye a chaque clique
                    sur son annonce</p>
                </li>
                <li><p>
                    Le niveau de qualité(1-10)
                    dépendant du taux de clics attendu
                    et de la pertinance d'annonce.</p>
                </li>
            </ul>
        </p>
    </div>
</div>

        <!-- Section 3 -->
        
<div class="section">
    <div class="content">
        <h2>Optimisation pour les moteurs de
            recherche (SEO)</h2>
        <p>Les 10 premiers sites obtenus lors d’une recherche totalisent 60%
            des clics totaux. Les sites sont classés par rapport à plusieurs
            critères :
            <img src="" alt="">
            Critères du moins important en bas jusqu’au plus important en haut.
        </p>

        <h2>Comment le SEA
            (Search Engine
            Marketing)
            marche?</h2>
        <p>
            Cheminement : Création des mots clés
            puis Création des annonces
            Impact :
            <ul>
                <li><span>La visibilité rapide de votre site :</span> <p>
                    le référencement payant permet de
                    placer rapidement votre site dans
                    les résultats des moteurs de
                    recherche, à l’inverse du
                    référencement naturel. Cette option
                    est la plus recommandée si vous
                    souhaitez obtenir des résultats
                    significatifs dans un bref délai.</p>
                </li>
                <li><span>Un complément au référencement
                    naturel :</span> <p>
                    Avec le référencement
                    payant vous avez plus de facilités
                    d’atteindre une cible particulière
                    surtout en vous servant des
                    différentes techniques de
                    marketing. Le SEA vous permettra
                    bien souvent d’amorcer votre
                    campagne de référencement et de
                    l’appuyer périodiquement.</p>
                </li>
                <li><span>Un contrôle en temps réel :</span><p> 
                    grâce au référencement payant, vous
                    avez la possibilité de modifier et
                    d’ajuster en temps réel votre
                    annonce et votre budget. Les
                    budgets sont généralement
                    abordables (certains domaines
                    d’activité font exception).</p>
                </li>
            </ul>
        </p>
    </div>
</div>
<div class="section">
    <div class="content">
        <h2>Comment bien choisir ses mots clés ?</h2>
        <ul>
            <li><p>
                Eviter le Keyword Stuffing (= bourrage de mots clés),
                autrefois grandement utilisé, aujourd’hui pénalisé par
                google (=spam)</p>
            </li>
            <li><p>
                Utiliser des longues traînes : mots-clés composés d’au
                moins trois ou quatre mots qui sont très spécifiques à un
                produit ou une information. Permet de générer du trafic
                qualifié. Permet d’être moins concurrentiels sur les mots
                clés génériques.</p>
            </li>
        </ul>
    </div>
</div>


        <!-- Section 4 -->
<div class="section">
    <div class="content">
        <img src="" alt="">
        <h2>Comment fonctionnent les publicités sur YouTube ?</h2>
        <p>Sachant que selon la TNS Infratest un français sur deux va sur YouTube
            tous les jours, et que parmi eux 2/3 y vont + de 2 fois par jour, 2/3 des
            utilisateurs utilisent YouTube sur leurs smartphones. Le temps passé sur
            YouTube a augmenté de 40% entre 2015 et 2016. Il semble donc très
            intéressant de promouvoir ses produits/services sur YouTube. Les pubs
            s'organisent de la manière suivante :
            <ul>
                <li><p>
                    Des formats adaptés à tous vos objectifs
                    </p>
                </li>

                <li>
                    <p>Des ciblages avancés pour aller chercher toutes les audiences :</p>
                    <ul>
                        <li><p>Les centres d'intérêt</p></li>
                        <li><p>Custom Affinity, audience sur-mesure</p></li>
                        <li><p>In-Market</p></li>
                        <li><p>Thématique de vidéo</p></li>
                        <li><p>Remarketing</p></li>
                        <li><p>Customer Match & Similar Audiences</p></li>
                    </ul>
                </li>

                <li><p>
                    Des outils fiables pour mesurer vos indicateurs clés du succès
                    </p><ul>
                        <li><p>KPIs de campagne : vues et notoriété</p></li>
                        <li><p>Unique & Extra Match : mesure le nombre d'individus uniques &
                            indique en amont de votre campagne l'investissement optimal YouTube
                            + TV</p></li>
                        <li><p>Brand Lift Surveys : mesure l'efficacité de la campagne en fonction
                            vos objectifs<p></li>
                        <li><p>Google Consumer Surveys : permet de lancer des mini-études avant
                            une campagne<p></li>
                    </ul>
                </li>
            </ul>
        </p>
    </div>
</div>

        <!-- Section 5 -->
<div class="section">
    <div class="content">
        <h2>Un consultant vous rappelle dans moins de 24h</h2>
        <p>Nous voulons comprendre votre projet, vos objectifs et vos envies
            pour vous proposer les solutions qui vous apporteront croissance
            et sérénité.</p>
        <a href=""><button class="mainBtn" type="button">Nous contacter</button></a>
    </div>
</div>  