<div class="section noback text-left">
    <h2 class="content span">Marketing d'influence</h2>
    <div class="content">    
        <p class="content">Le marketing d’influence est en pleine expansion de
            nos jours, c’est un très bon moyen de faire découvrir son
            produit et de gagner en notoriété.
        </p>
    </div>
    <img class="img-text"src="img/instagram.png" alt="Logo de facebook">
</div>
        

        <!-- Section 2 -->
<div class="section">
    <div class="cards-grid">
        <div class="card">
                <div class="face face1">
                    <div class="card-content">
                        <div class="icon">
                <img src="img/marketing_influence.png" alt="marketing d'influence">
                        </div>
                    </div>
                </div>
                <div class="face face2">
                    <div class="card-content">
                    <h3>Comment fonctionne le
                marketing d’influence ?</h3>
                        <p>Lorsqu’une entreprise utilise le marketing
                d’influence, cela veut dire qu’elle va faire appel à
                une personnalité public pour promouvoir ses
                produits. Le rôle des influenceurs est d’effectuer
                des posts ou des vidéos sur les réseaux sociaux
                où ils mettent en avant les produits à leur
                communauté.</p>
                    </div>
                </div>
        </div>
     <div class="card">
            <div class="face face1">
                <div class="card-content">
                    <div class="icon">
            <img src="img/pic2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="card-content">
                   <h3>Comment trouver des
            influenceurs rentables ?</h3>
                    <p>Tout dépend de la stratégie marketing et du produit à
            promouvoir. Pour trouver des influenceurs
            intéressants, le premier critère que nous allons
            observer est bien sûr le nombre
            d’abonnés de notre personnalité, c’est-à-dire le
            nombre de personne qui suivent et s’intéressent
            aux contenus de l’influenceur.
            Sinon il existe plusieurs logiciels et plateformes qui
            regroupent des millions de profils de créateur de
            contenus, et grâce aux données présentes sur ces
            "annuaires”, nous allons pouvoir étudier chaque profil
            et ainsi voir lequel est le plus en adéquation avec notre
            produit.</p>
                </div>
            </div>
        </div>
    </div>
        </div>
        <!-- Section 3 -->
       <div class="section text-left noback"> 
               <h2 class="content span">Quelques stratégies !</h2>
    <div class="content">
       <p class="content">Le Retargeting est une pratique publicitaire qui
            consiste le plus souvent à cibler un individu qui a
            visité un site Internet ou une fiche produit, mais
            pour lequel il n'y a pas eu achat ou
            transformation lors de cette visite. Par exemple,
            un individu ayant consulté une ou plusieurs
            fiches produit sans passer à l'achat est ensuite
            exposé, lors de sa navigation Internet, à des
            créations publicitaires mettant en avant le ou les
            produits initialement consultés.</p>
    </div>
      <img class="img-text" src="img/pic3.png" alt="Logo de facebook">
</div>
        <!-- Section 5 -->
        <div class="section noback">
    <div class="content">
        <h2 class="content">Gérer le profil Instagram
            de la marque</h2>
        <p class="content">
            La société qui cherche à promouvoir ses produits doit
            aussi être présente et active sur les
            réseaux sociaux, ici nous allons particulièrement nous
            pencher sur la plateforme Instagram. Afin que le
            compte Instagram nous soit bénéfique, il faut le gérer
            de la manière suivante :</p>
            <img src="img/pic4.png" alt="">

    </div>
    <div class="content-slider">
        <div class="slider">
            <div class="mask">
                <ul>
                    <li class="anim1">
                        <div class="quote">
                            <p>Mettre en avant toutes les informations liées à la
                    société (adresse, site internet, horaires
                    d’ouvertures etc.)</p>
                        </div>
                    </li>
                    <li class="anim2">
                        <div class="quote"> <p>Publier de façon régulière et planifiée (photo de nos
                    produits, promotions)</p></div>
                    </li>
                    <li class="anim3">
                        <div class="quote"><p>Créer une proximité avec les abonnés (répondre
                    aux commentaires)</p></div>
                    </li>
                    <li class="anim4">
                        <div class="quote"><p>Promouvoir des publications (“publications
                    sponsorisées”)</p> </div>
                    </li>
                    <li class="anim5">
                        <div class="quote"><p>Utiliser des bons Hashtags. </p></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>      
        <!-- Section 6 -->
<form>
    <div class="section back">
        <div class="content">
            <h2 class="content">Un consultant vous rappelle dans moins de 24h</h2>
            <p class="content">Nous voulons comprendre votre projet, vos objectifs et vos envies
                pour vous proposer les solutions qui vous apporteront croissance
                et sérénité.</p>
            <button class="mainBtn" formaction="/form">Nous contacter</button>
    </div>
</form>